.barChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f2;
}

a {
  text-decoration: none;
  color: black;
}

.barChat:hover {
  background-color: #ce9c9c;
}

.barChat_info > h2 {
  margin-left: 15px;
  margin-bottom: 8px;
}

.barChat_info {
  margin-left: 15px;
}
.barChat_info > p {
  margin-left: 18px;
}
